/* Make page full height */
html, body, #root {
  height: 100%;
  margin: 0;
}

/* App container must be flex column */
.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Footer goes to bottom */
.footer
{
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #ecf0f1;
  width: 100%;
  height:35px;
  line-height: 40px;
}
.bg-color
{
  height:100vh;
  background: linear-gradient(cyan,blue);
}

